body{
    background-color: rgb(142, 255, 238);
}

#score{
    font-size: 20px;
    float:left;
    margin-left:20px;
}

#timer{
    font-size: 20px;
    float:right;
    margin-right:20px;
}

#sketch{
    color:black;
    font-weight: bold;
}